<configuration>
  <system.webServer>
    <rewrite>
      <rules>
	    <!-- Loại trừ các yêu cầu đến manifest.json -->
        <rule name="Exclude manifest.json" stopProcessing="true">
          <match url="^manifest\.json$" />
          <action type="None" />
        </rule>
		
        <!-- Loại trừ các yêu cầu đến /Service hoặc các endpoint API -->
        <rule name="Exclude API paths" stopProcessing="true">
          <match url="^Service/.*" />
          <action type="None" />
        </rule>

        <!-- Quy tắc chuyển hướng các request khác về index.html -->
        <rule name="Rewrite to index.html" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
